<.header>
  Edit Scan event {@scan_event.id}
  <:subtitle>Use this form to manage scan_event records in your database.</:subtitle>
</.header>

<.scan_event_form changeset={@changeset} action={~p"/scan_events/#{@scan_event}"} />

<.back navigate={~p"/scan_events"}>Back to scan_events</.back>
