<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:started_at]} type="datetime-local" label="Started at" />
  <.input field={f[:completed_at]} type="datetime-local" label="Completed at" />
  <.input field={f[:output_path]} type="text" label="Output path" />
  <:actions>
    <.button>Save Scan event</.button>
  </:actions>
</.simple_form>
